* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: white;
}

#flex-container {
	background-color: black;
	height: 75px;
	margin: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-item {
	list-style: none;
	margin-right: 2rem;
	
}

.flex-item a {
	text-decoration: none;
	color: white;
	
}

.flex-item:first-child {
	margin-right: auto;
	margin-left: -1rem;
}

#logo {
	height: 70px;
	width: 70px;
	margin-bottom: -4px;
}