<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseUser.html::head(title='Buffets')"></head>
	
	<body>
		<header th:replace="fragments/baseUser.html::header"></header>
		
		<div id="section">
			<h2>Buffets</h2>
			<table id="buffets">
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Opzioni<th>
				</tr>
				<tr th:each="buffet : ${buffets}">
					<td th:text="${buffet.nome}"></td>
					
					<td th:text="${buffet.descrizione}">
					</td>
					
					<td>
						<div class="dropdown">
							<button class="dropbtn">&#9660;</button>
							<div class="dropdown-content">
								<a th:href="@{'/buffet' + '/chef' + '/' + ${buffet.chef.id}}" th:text="Chef">Chef</a>
							</div>
						</div>
					</td>
					
				</tr>
			</table>
		</div>
	
	</body>
</html>