<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta content="width=device-width, initial-scale=1.0"/>
		<title>Form Registrazione</title>
		<link th:href="@{/css/registrazione.css}" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div id="flex-container">
			<form th:action="@{/registerUser}" method="POST" id="form">
				<h2>USER REGISTRATION</h2>
				<h4>Nome</h4>
				<input type="text" th:field="${user.nome}" name="nome" class="box" placeholder="Inserisci nome" required />
				<div th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}" th:style="'color:red'"></div>
				<h4>Cognome</h4>
				<input type="text" th:field="${user.cognome}" name="cognome" class="box" placeholder="Inserisci cognome" required />
				<div th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}" th:style="'color:red'"></div>
				<h4>Username</h4>
				<input type="text" th:field="${credentials.username}" name="username" class="box" placeholder="Inserisci username" required />
				<div th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></div>
				<h4>Password</h4>
				<input type="password" th:field="${credentials.password}" name="password" class="box" placeholder="Inserisci password" required />
				<div th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></div>
				<button type="submit" id="submit">REGISTRATI</button>
				<a th:href="@{/login}">Login</a>
			</form>
		</div>
	</body>
</html>